 <!DOCTYPE html>
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>

        function initialize(a,b,c){
              $("#map").css("border","2px solid black ");
            var z;
            if(a == null && b == null){
                //navigator.geolocation.getCurrentPosition(showPosition);
                a = 16.6;
                b = 82;
                z=4;

            }else{


                z=8;
            }
            $("#loc").empty().html("<h3 style=\"font-weight: bold; color: black\">Locating "+c+"</h3>");
            var pyrmont = {lat: parseFloat(a), lng: parseFloat(b)};
            var mapCanvas = document.getElementById('map');
            var mapOptions = {
                center: pyrmont,
                zoom: z,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }


            var map = new google.maps.Map(mapCanvas, mapOptions);
            if(a != null || b != null){
                var Marker = new google.maps.Marker({
                    map: map,
                    position: map.getCenter()
                });
            }

            google.maps.event.addDomListener(map, 'load', initialize);




        }
        function getdata(){
            $("#a").html("");
            $("#a").html("<h1><%= proj.studentsdatabase %></h1>");
            $("#a").html("<h1><%= proj.studentsdatabase %></h1> <table border=1px> <tr> <th>Student_Name</th> <th>Age</th> <th>Major</th> <th>locate</th></tr><% proj.student_details.forEach(function(item){ %> <tr> <td align=\"center\"><%= item.studentname%></td> <td align=\"center\"><%=item.age%></td> <td align=\"center\"><%=item.course%></td><td><input type=\"button\" value=\"locate\" onclick=\"initialize(<%=item.lat%>,<%=item.long%>,'<%=item.studentname%>')\"/></td> </tr><% });%> </table>");

        }


    </script>
    <style>
        #map {
            width: 1200px;
            height: 650px;

        }

        table{
            border-collapse: collapse;
            border : 1px solid black;
        }
        td{
            width : 150px;

        }
        input {
            width  : 150px;
        }
    </style>
</head>
<body>


<div id="a"><input type="button" value="For Details Click Here" onclick="getdata()" ></div>
<br/><br/>

<div id ="loc"></div>
<div id="map">

</div>
</body>
</html>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <!DOCTYPE html>
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>

        function initialize(a,b,c){
              $("#map").css("border","2px solid black ");
            var z;
            if(a == null && b == null){
                //navigator.geolocation.getCurrentPosition(showPosition);
                a = 16.6;
                b = 82;
                z=4;

            }else{


                z=8;
            }
            $("#loc").empty().html("<h3 style=\"font-weight: bold; color: black\">Locating "+c+"</h3>");
            var pyrmont = {lat: parseFloat(a), lng: parseFloat(b)};
            var mapCanvas = document.getElementById('map');
            var mapOptions = {
                center: pyrmont,
                zoom: z,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }


            var map = new google.maps.Map(mapCanvas, mapOptions);
            if(a != null || b != null){
                var Marker = new google.maps.Marker({
                    map: map,
                    position: map.getCenter()
                });
            }

            google.maps.event.addDomListener(map, 'load', initialize);




        }
        function getdata(){
            $("#a").html("");
            $("#a").html("<h1><%= proj.studentsdatabase %></h1>");
            $("#a").html("<h1><%= proj.studentsdatabase %></h1> <table border=1px> <tr> <th>Student_Name</th> <th>Age</th> <th>Major</th> <th>locate</th></tr><% proj.student_details.forEach(function(item){ %> <tr> <td align=\"center\"><%= item.studentname%></td> <td align=\"center\"><%=item.age%></td> <td align=\"center\"><%=item.course%></td><td><input type=\"button\" value=\"locate\" onclick=\"initialize(<%=item.lat%>,<%=item.long%>,'<%=item.studentname%>')\"/></td> </tr><% });%> </table>");

        }


    </script>
    <style>
        #map {
            width: 1200px;
            height: 650px;

        }

        table{
            border-collapse: collapse;
            border : 1px solid black;
        }
        td{
            width : 150px;

        }
        input {
            width  : 150px;
        }
    </style>
</head>
<body>


<div id="a"><input type="button" value="For Details Click Here" onclick="getdata()" ></div>
<br/><br/>

<div id ="loc"></div>
<div id="map">

</div>
</body>
</html>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           